* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
}

body {
  background: #eee;
}

h1 {
  color: #577460de;
}

h2 {
  color: #577460de;
  font-size: 3rem;
  /* font-size: 5rem; */
  letter-spacing: 6px;
  padding-bottom: 3%;
}

a {
  text-decoration: none;
  color: black;
}

input { 
  font-size: 1rem; 
  font-family: "Montserrat", sans-serif;
}

textarea {
  font-size: 1rem; 
  font-family: "Montserrat", sans-serif;
  resize: none;
}

.light {
  background-color: #eee;
}

.light p {
  color:#7c7c7c;
}

.dark {
  background-color: #84af9148;;
}

.dark p {
  color:#707070;
}

.first-letter{
  font-family: 'Sofia', cursive;
}

h2 .first-letter {
  font-size: 4rem;
  padding-right: 4px;
}

.button {
  display: inline-block;
  padding: 12px 15px;
  margin-right: 5%;
  text-align: center;
  letter-spacing: 2px;
  border-radius: 7px;
  font-size: 1rem;
}

/* Columns

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
  float: left;
  /* border: 1px solid red; */
/* } */ 

/* Navbar ------------------------------------------------------------ */

nav {
  display:flex;
  justify-content: space-between;
  align-items: center;
  background-color: #84af91de;
  padding: 16px 16px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

.logo {
  width: 40px;
  margin-left: 1.5%;
}

/* .brand {
  color: #eee;
  letter-spacing: 3px;
  font-size: 2rem;
  float: left
} */

.nav-links {
  display: flex;
  justify-content: space-around;
  font-size: 1rem;
  margin-left: auto;
}

.nav-links li {
  list-style: none;
  padding: 0px 30px;
}

.nav-links a {
  color: #eee;
  letter-spacing: 2px;
}

.resume {
  border: solid 1px;
  border-radius: 6px;
  padding: 8px;
}

.fa-bars {
  color: #eee;
  display: none;
  position: relative;
}

.fa-bars-active {
  position: fixed;
  right: 0;
  padding: 16px;
  z-index: 2;
}

/* Home --------------------------------------------------------------- */

#home {
  margin-top: 15vh;
  height: 80vh;
  /* justify-self: center; */
}

.home-text {
  width: 66.66%;
  float: left;
}

.home-img {
  width: 33.33%;
  float: left;
}

.name {
  font-size: 6vw;
  /* font-size: 5rem; */
  letter-spacing: 6px;
  margin: 3% 5%;
}

#home .first-letter{
  /* font-size: 6.5rem; */
  font-size: 7.4vw;
  padding-right: 6px;
}

.laptop-img {
  max-width: 100%;
  padding-right: 5%;
}

#home p {
  font-size: 1.1rem;
  margin: 3% 5%;
  letter-spacing: 3px;
  line-height: 2rem;
  padding-right: 2%;
}

.home-buttons {
  margin: 5%;
}

/* .home-buttons a {
  display: inline-block;
  padding: 12px 15px;
  margin-right: 5%;
  text-align: center;
  letter-spacing: 2px;
  border-radius: 7px;
  font-size: 1rem;
} */

.button-light {
  background-color: #eee;
  color: #577460ee;
  border: solid 2px #577460ee;
}

.button-dark {
  background-color:#84af91de;
  color: #eee;
}

/* About --------------------------------------------------------------- */

#about {
  display: inline-block;
  padding: 3% 5%;
  /* height: 100vh; */
  /* background-color:  #84af9148; */
}

.about-content {
  width: 66.66%;
  float: left;
}

.about-img {
  width: 33.33%;
  float: left;
  text-align: center;
}

#about p {
  padding: 0% 2% 3% 0%;
  line-height: 1.5rem;
}

#about img {
  max-width: 100%;
}

#about a {
  font-weight: bolder;
}

#about a:hover {
  text-decoration: underline;
}

/* Projects --------------------------------------------------------------- */

#projects {
  display: inline-block;
  width: 100%;
  padding: 3% 5%;
}

/* Project --------------------------------------------------------------- */

.project {
  /* background-color: #84af91de; */
  background-color: #eee;
  border: solid 4px #84af91de;

  padding: 2% 3%;
  border-radius: 15px;
  width: 48%;
  margin: 1% 1% 4%;
  float: left;
}

.project h3 {
  font-family: 'Lexend Mega', sans-serif;
  display: inline-block;
  /* color: #eee; */
  color: #577460ee;
  font-size: 1.8rem;
  padding-bottom: 20px;
}

.code-link {
  display: inline-block;
  float: right;
  color: #405546de;
}

.code-link:hover {
  color: #2e2e2e;
}

.project p {
  /* color: #eee; */
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 300;
}

.img-carousel {
  padding-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-btn {
  color: #405546de;
  display: block;
  margin: 5%;
  width: 8%;
}

.carousel-btn:hover {
  color: #2e2e2e;
}

.project .img-main {
  width: 42%;
  z-index: 1;
}

.project .img-preview {
  width: 30%;
  -webkit-filter: blur(0.7px) grayscale(0.5); /* Safari 6.0 - 9.0 */
  filter: blur(0.7px) grayscale(0.5);
  z-index: 0;
}

.project .img-right {
  border: 1px solid #ccc;
  display: inline;
  float: right;
  margin-left: -15%;
}

.project .img-left {
  border: 1px solid #ccc;
  display: inline;
  float: left;
  margin-right: -15%;
}

/* Contact --------------------------------------------------------------- */

#contact {
  /* display: inline-block; */
  width: 100%;
  padding: 3% 5%;
}

#contact .button {
  border: none;
  letter-spacing: 8px;
}

.contact-content {
  border: solid 1px #eee;
  border-radius: 5px;
  padding: 7px 10px;
}

.contact-email {
  width: 49%;
  margin-top: 20px;
  margin-right: 1%;
}

.contact-subject {
  width: 49%;
  margin-top: 20px;
  margin-left: 1%;
}

.contact-message {
  width: 100%;
  margin: 20px 0px;
}

/* Footer --------------------------------------------------------------- */

footer {
  background-color: #8f8f8f;
  color: #eeffffbe;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 7rem;
}

.footer-text {
  font-size: 0.7rem;
  letter-spacing: 2px;
  color: inherit;
  cursor: pointer;
}

.footer-text:hover {
  color: #2c2b2b;
}

.social-icon {
  display: inline-block;
  margin: 30px 10px;
  margin-bottom: 20px;
  color: #eeffffbe;
  cursor: pointer;
}

.social-icon:hover {
  color: #444343;
}

/* Media queries --------------------------------------------------------- */

@media screen and (max-width: 768px) {
  h2 {
    font-size: 1.8rem;
  }
  
  h2 .first-letter {
    font-size: 3.3rem;
  }
  
  /* Navbar */

  .fa-bars {
    display: block;
    cursor: pointer;
  }

  .nav-links {
    padding-top: 60px;
    position: fixed;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    opacity: 0;
    visibility: hidden;
    width: 280px;
    justify-content: unset;
    z-index: 2;
  }

  .nav-links li {
    padding: 20px 15px;
  }

  .nav-links a {
    color: #eee;
  }

  .nav-links-active {
    background-color:#577460ee;
    height: 100%;
    opacity: 1;
    visibility: visible;
  }

  /* Home */

  #home {
    margin-top: 8vh;
    height: 100vh;
    justify-self: center;
  }
  
  .home-text {
    width: 100%;
    /* text-align: center; */
  }
  
  .home-img {
    width: 100%;
    text-align: center;
  }

  .laptop-img {
    padding: 5%;
  }

  .name {
    font-size: 9vw;
    /* font-size: 5rem; */
    letter-spacing: 3px;
  }
  
  #home .first-letter{
    /* font-size: 6.5rem; */
    font-size: 10.4vw;
    padding-right: 6px;
  }

  #home p {
    letter-spacing: 1px;
  }

  /* About */

  .about-content {
    width: 100%;
  }

  #about p {
    padding-right: 0;
  }
  
  .about-img {
    width: 100%;
    padding: 2% 10%;
  }

  /* Projects */

  .project {
    width: 80%;
    margin-right: 10%;
    margin-left: 10%;
  }

  /* Contact */
  .contact-email {
    width: 100%;
    margin-right: 0;
  }
  
  .contact-subject {
    width: 100%;;
    margin-left: 0;
  }
} 

@media screen and (max-width: 600px) {
  .project {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
  }
}

@media screen and (max-width: 480px) { 
  /* Navbar */
  .brand {
    font-size: 1.5rem;
  }

  .nav-links {
    font-size: 1rem;
  }
  
  /* Home */
  #home p {
    font-size: 1rem;
    line-height: 1.8rem;
  }

  /* Projects */

  .project .img-main {
    width: 52%;
    z-index: 1;
  }
  
  .project .img-preview {
    width: 40%;
    -webkit-filter: blur(0.7px) grayscale(0.5); /* Safari 6.0 - 9.0 */
    filter: blur(0.7px) grayscale(0.5);
    z-index: 0;
  }
  
  .project .img-right {
    border: 1px solid #ccc;
    display: inline;
    float: right;
    margin-left: -25%;
  }
  
  .project .img-left {
    border: 1px solid #ccc;
    display: inline;
    float: left;
    margin-right: -25%;
  }
}

@media screen and (max-width: 320px) { 
  /* Navbar */
  .brand {
    font-size: 1rem;
  }

  .nav-links {
    font-size: 1rem;
  }
  
  /* Home */

}