* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
}

body {
  background: #eee;
}

/* Navbar */

nav {
  display:flex;
  justify-content: space-between;
  align-items: center;
  background-color: #8ab697de;
  padding: 16px 16px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

.brand {
  color: #eee;
  letter-spacing: 3px;
  font-size: 2rem;
  float: left
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 50%;
  font-size: 1rem;
  margin-left: auto;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: #eee;
  text-decoration: none;
  letter-spacing: 2px;
}

.resume {
  border-color: green;
  border: solid 1px;
  border-radius: 6px;
  padding: 8px;
}

.fa-bars {
  color: #eee;
  display: none;
}

.fa-bars:hover {
  color: gray;
}

@media screen and (max-width: 768px) {
  .fa-bars {
    display: block;
    cursor: pointer;
  }

  .nav-links {
    position: absolute;
    margin-top: 8%;
    padding-right: 10px;
    right: 0px;
    top: 8%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    opacity: 0;
    width: 18%;
  }

  .nav-links li {
    margin-top: 5px;
    margin-bottom: 10px;
  }

  .nav-links a {
    color: gray;
  }

  .resume {
    border: none;
    padding: 0px;
  }

  .nav-links-active {
    opacity: 1;
  }
} 

@media screen and (max-width: 480px) { 
  .brand {
    font-size: 1.5rem;
  }

  .nav-links {
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 320px) { 
  .brand {
    font-size: 1rem;
  }

  .nav-links {
    font-size: 0.5rem;
  }
}

/* Footer */

footer {
  background-color: #8f8f8f;
  color: #eeffffbe;
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
}

footer p {
  font-size: 0.7rem;
  margin-bottom: 30px;
}

.social-icon {
  display: inline-block;
  margin: 30px 10px;
  margin-bottom: 20px;
  color: #eeffffbe;
}

.social-icon:hover {
  color: #444343;
}